/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/wgsnano -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

 // RIS (LSF) cluster config for DHS Lab
params {
    user_group                       = 'compute-dspencer'
    job_group_name                   = '/dspencer/nextflow'
    gpu_resources                    = 'num=2:gmodel=TeslaV100_SXM2_32GB:gmem=16G'
    queue_cpu                        = 'dspencer'
    queue_gpu                        = 'general'
}

 // AWS config for DHS Lab
aws.region                           = 'us-east-1'
aws.batch.cliPath                    = '/home/ec2-user/miniconda/bin/aws'

profiles {
    aws {
        process.executor             = 'awsbatch'
        process.queue                = 'nextflow-aws-queue'
        process.maxErrors            = 1
        executor.queueSize           = 6
    }
    hybrid { // Runs hybrid LSF and AWS. LSF is the default and AWS used for any process with label hybrid_executor
        executor.queueSize       = 6
        process {
            executor                 = 'lsf'
            queue                    = { "${params.queue_cpu}" }
            clusterOptions           = { "-a 'docker(${task.container})' -G ${params.user_group} -g ${params.job_group_name}" }
            withLabel: hybrid_executor {
                executor             = 'awsbatch'
                queue                = 'nextflow-aws-queue'
                maxErrors            = 1
                }
        }
    }
}

